/* Footer */
.footer {
    background-color: #222;
    color: var(--white-color);
    padding: 50px 20px 20px;
    font-size: 1.2rem;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 40px;
}

.footer-column {
    flex: 1;
    min-width: 250px;
}

.footer-column h3 {
    color: var(--white-color);
    margin-bottom: 20px;
    font-size: 1.8rem;
    position: relative;
}

.footer-column h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    border-radius: 5px;
}

.footer-column p {
    line-height: 1.7;
    text-align: left;
    color: #ccc;
    margin: 0;
    font-size: 1.4rem;
}

.footer-column ul {
    line-height: 1.7;
}

.footer-column ul li a {
    display: inline-block;
    font-size: 1.4rem;
    color: #ccc;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-column ul li a:hover {
    color: #fe2389;
    transform: translateX(5px);
}

.footer-column ul li {
    font-size: 1.4rem;
    color: #ccc;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-column ul li i {
    font-size: 1.4rem;
    margin-right: 6px;
}

.social-icons a {
    color: #ccc;
    font-size: 1.6rem;
    margin-right: 5px;
    transition: color 0.25s ease, transform 0.25s ease;
    display: inline-block;
    padding: 5px 10px;
}

.social-icons a:hover {
    color: #fe2389;
    transform: scale(1.2);
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 20px;
    font-size: 1.4rem;
    color: #888;
}

/* BREAKPOINT RESPONSIVE */
@media (max-width: 992px) {}

@media (max-width: 768px) {

    /* Footer area */
    .footer-column h3::after {
        bottom: -10px;
    }

    .footer-column h3 {
        text-align: center;
    }

    .footer-column p,
    .footer-column ul,
    .footer-column .social-icons {
        text-align: center;
    }
}