@media (max-width: 600px) {
    .header-navigate nav {
        font-size: 1rem;
    }
    .header-navigate a {
        width: 90px;
        font-size: 0.95rem;
        height: 40px;
        line-height: 40px;
    }
    .nav-underline {
        height: 2px;
        border-radius: 6px;
    }
} 